@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.mar_gin{
    max-width: 1440px;
    margin: 0 9.5rem;
}

.highlight{
    color: rgba(233, 90, 8, 1);
}
.info_color{
    color:rgba(0, 0, 0, 0.5)
}
.card_btn,.subs_btn{
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-weight: 600;
    border: 0;
}

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
    margin-bottom: 7.5rem;
}
nav ul{
    display: flex;
    gap:3rem;
    
}
nav ul li{
    list-style: none;
    
}

.navbar-clr{
    color: rgba(137, 135, 161, 1);
}

/* banner style */
.banner{
    display: flex;
}

.banner_info{
    width: 100%; 
    padding-top: 162px;
}
.banner_title{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.banner_description{
    font-size: 18px;
    width: 570px;
    height: 80px;
    text-align: left;
}
.banner_img{
    padding-top: 106px;
    width: 100%;
    height: 100%; 
}

/* plant section style */
.plant_info{
    text-align: center;
    margin-top: 120px;
}
.plant_title{
    font-size: 3.2rem;
    font-weight: 800;
    margin: 0 auto;
}
.plant_description{
    font-size: 18px;
    margin-bottom: 3rem;
    padding: 0 8rem;
}
.buy_plants{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 270px;
    height: 485px;
    row-gap: 30px;
    column-gap: 20px;
    
}
.card_content{
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
    text-align: center;
}
.card_title{
    font-weight: 500;
}
.card_price{
    font-weight: 700;
}
.card_btn{
   padding:19px 89px;
}

/* responsive styling */
@media screen and (max-width:430px) {
    .mar_gin {
    margin: 0 1rem;
  }

 /* navbar responsive */
  .navbar{
    margin-bottom: 28px;
  }
  div > img{
    width: 4rem;
    height: 2.4rem;
  }
  nav ul li {
    display: none;
  }
  #cart {
  display:inline;
}

 /* banner responsive */

    .banner{
        flex-direction:column-reverse;
        margin: 0 auto;
    }
    .banner_info{
        padding-top: 28px;
    }
    .banner_title{
        font-size: 1.5rem;
    }
    .banner_description{
        font-size: 1rem;
        width: 100%;
    }
    .banner_img{
        width: 100%;
        padding-top: 2px;
    }
    .banner_img img{
        width: 390px;
        height: 245px;
        padding-left: 0;
        padding-right: 0;
        
    }

    /* Plants responsive */
    .plant_description{
        padding: 0 1rem;
        margin-bottom: 1.8rem;
    }
    .buy_plants{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        
    }
    .buy_plants img{
        width: 171px;
        height: 196px;
    }
      .card{
        width: 171px;
        height: 340px;
    }
    .card_title{
        font-size: 1rem;
        margin-bottom: 0;
    }
    .card_price{
        margin-top: 0;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .card_btn{
        padding: 16px 39px;
    }
    
}