@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.mar_gin{
    margin: 0 9.5rem;
}
.bold{
    font-weight:800;
}
.highlight{
    color: rgba(233, 90, 8, 1);
}
.info_color{
    color:rgba(0, 0, 0, 0.5)
}

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
    margin-bottom: 7.5rem;
}
nav ul{
    display: flex;
    gap:3rem;
    
}
nav ul li{
    list-style: none;
    
}

.navbar-clr{
    color: rgba(137, 135, 161, 1);
}

/* banner style */
.banner{
    display: flex;
}
.banner_info{
    width: 100%; 
    padding-top: 162px;
}
.banner_title{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.banner_description{
    width: 570px;
    height: 108px;
}
.banner_img{
    padding-top: 106px; ;
}

/* responsive styling */
@media screen and (max-width:430px) {
    .mar_gin {
    margin: 0 1rem;
  }

 /* navbar responsive */
  .navbar{
    margin-bottom: 28px;
  }
  div > img{
    width: 4rem;
    height: 2.4rem;
  }
  nav ul li {
    display: none;
  }
  #cart {
  display:inline;
}

 /* banner responsive */

    .banner{
        flex-direction:column-reverse;
        margin: 0 auto;
        
    }
    .banner_info{
        padding-top: 28px;
    }
    .banner_title{
        font-size: 1.5rem;
    }
    .banner_description{
        font-size: 1rem;
        width: 100%;
    }
    .banner_img{
        width: 100%;
        padding-top: 2px;
    }
    .banner_img img{
        width: 390px;
        height: 245px;
        padding-left: 0;
        padding-right: 0;
        
    }
    
}